<header>
    <h1><a href="{{ path('web.survey.index') }}">Home</a></h1>
    <ul>
        {% for survey in surveys %}
            <li><a href="{{ path('web.survey.show', { slug: survey.slug }) }}">{{ survey }}</a></li>
        {% endfor %}
    </ul>
    <hr/>
</header>